[submodule "external/sampic_256ch_lib"]
	path = external/sampic_256ch_lib
	url = https://gitlab.com/sampic256ch_users/sampic_256ch_lib.git
[submodule "external/midas_file_unpacker_app"]
	path = external/midas_file_unpacker_app
	url = https://github.com/jaca230/midas_file_unpacker_app.git
	branch = develop
